@{
    ViewData["Title"] = "Корзина";
    Layout = "Layout_noLeftSide";
}

<script type="text/javascript">
        let Totalcost=0;        

        document.addEventListener('click', handleClick );        

        function handleClick(event) {
            console.log('user clicked: ', event.target);
            var btn = event.target;            
            if (btn.id == 'button_make_order') CreateOrder();
            if (btn.classList.contains("btn-minus") || btn.classList.contains("btn-plus")) Change_amount(btn);
        }

        function Change_amount(btn) { 
            let grp_id = btn.id.slice(0, -6);        
            let input_amount_id = grp_id + "+_amount";
            
            if (btn.classList.contains("btn-minus")) {                
                let amount = document.getElementById(input_amount_id).getAttribute('value');                                
                if (amount > 0) {
                    amount--;                    
                    document.getElementById(input_amount_id).setAttribute('value', amount);
                }
            }
            if (btn.classList.contains("btn-plus")) {
            let amount = document.getElementById(input_amount_id).getAttribute('value');                
                if (amount < 999) {
                    amount++;                    
                    document.getElementById(input_amount_id).setAttribute('value', amount);
                }
            }
            
            let prod_cost = document.getElementById(grp_id + '+_cost');
            let prod_amount = document.getElementById(grp_id + '+_amount');
            let cost = parseFloat(prod_cost.getAttribute('prod_cost_init')) * parseFloat(prod_amount.getAttribute('value'));
            prod_cost.innerHTML = cost;
            
            const prods_costs = document.querySelectorAll('.prod_cost');            
            let totalcost = 0;            
            prods_costs.forEach(function (el) {
                totalcost += parseFloat(el.innerHTML);                
            });
            document.getElementById('total_cost').innerHTML = totalcost;
        }        
        
        //-----------------------ORDER COMPLETION           
        
        async function CreateOrder() {                       
                        
            let allidnodes = document.querySelectorAll('.id');

            let BasketItems = [];
            allidnodes.forEach(function (node) {
                let ProductId = node.getAttribute('id');
                let Name = document.getElementById(ProductId + '+_name').innerHTML.trim();
                let Amount = document.getElementById(ProductId + '+_amount').getAttribute('value');
                let Cost = document.getElementById(ProductId + '+_cost').getAttribute('prod_cost_init').toString().replace(',', '.');
                let FullCost = document.getElementById(ProductId + '+_cost').innerHTML.toString().replace(',', '.');
                let Comment = document.getElementById('comment').innerHTML;
                                
                let bi = {};
                bi.ProductId = ProductId;
                bi.Name = Name;
                bi.Amount =  Number.parseInt(Amount);
                bi.Cost = Number.parseFloat(Cost);
                bi.FullCost = Number.parseFloat(FullCost);

                BasketItems.push(bi);
            });
                        
            let Comment = document.getElementById('comment').innerHTML;
            let TotalCost = document.getElementById('total_cost').innerHTML.toString().replace(',', '.');
                 
            order = {};
            order.Comment = Comment;
            order.TotalCost = TotalCost;
            order.BasketItems = BasketItems;
                 
            let jstr = JSON.stringify(order);
     
            const result = await fetch('/Order/Order_Create',
                {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(order)
            }).then(response => response.text())
            .then(text => window.location.href = '/order/Order_Complete?orderid=' + text);
      }
        
</script>

@model IEnumerable<Product>

<div style="margin-top: 60px;">
</div>
@{
    decimal totalcost=0;
}

<h1>@ViewData["Title"]</h1>

@foreach (var mod in Model)
{
    <div id="@mod.Id" class="id" hidden></div>
    <div style="border-style:solid; border-width: 1px; border-color:lightgray; margin-bottom:5px;padding:5px">
    <div class="row g-4">
        
        <!--COLUMN---IMAGE---------------------------------->
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card" style="max-width:300px;">
                <img src="../images/@mod.ImageFile" class="card-img-top" alt="...">                
            </div>
        </div>

        <!--COLUMN---DESCRIPTION---------------------------------->
        <div class="col-lg-5 col-md-5 col-sm-12">
            <p> <b> <span id="@mod.Id+_name"> @mod.Name </span> </b> </p> <br />
            <p>@mod.ShortDescription</p>
        </div>

        <!--COLUMN---PRODUCT COST---------------------------------->
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="container">
                <!-- Control +/- START -->
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9" style="text-align:center;">
                         <div>
                                <p><b> @mod.Cost </b>р. за 1шт.</p>
                         </div>
                         <div class="input-group" style="width:110px; height:30px; margin:auto">
                            <span class="input-group-btn" style="height:30px">
                                    <button id="@mod.Id+_mnus" class="btn btn-danger btn-minus" type="button" style="width:30px; height:30px; display: flex; align-items: center; justify-content: center;" >-</button>
                            </span>

                            <input id="@mod.Id+_amount" type="text" class="form-control input-amount" value="1" style="width:40px;height:30px" disabled>

                            <div>
                                <span class="input-group-btn">
                                        <button id="@mod.Id+_plus" class="btn btn-success btn-plus" type="button" style="width:30px;height:30px;display: flex; align-items: center; justify-content: center;">+</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3" style="text-align:right;">
                        <p> <b> Цена: </b> </p>                        
                            <div> 
                                <span id="@mod.Id+_cost" class="prod_cost" prod_cost_init="@mod.Cost"> @mod.Cost </span> 
                                р.
                            </div>
                    </div>
                </div>
                <!-- Control +/- END -->
            </div>            
            
        </div>
        @{ totalcost += mod.Cost; }
        </div>
    </div>
}

<div class="row g-4">
    <div class="col-lg-9 col-md-8 col-sm-8">
    </div>    
    <div class="col-lg-3 col-md-4 col-sm-4" style="text-align: right;">
        <!--Total COST-->
        <p style="text-align: right;"> <h4>Полная стоимость: </h4></p>
        <h4><span style="text-align: right;" id="total_cost" class="total_cost">@totalcost</span> р.</h4>
    </div>
</div>

<div class="row g-4">
    <div class="col-lg-6 col-md-6 col-sm-6"></div>
    <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left;">
        <p>Комментарии к заказу:</p>
        <textarea id="comment" rows="4" cols="50" placeholder="Оставьте контактные данные..." style="width:100%" onkeyup="document.getElementById('comment').innerHTML = this.value;"></textarea>
    </div>
</div>
<br />
<div class="row g-4">
    <div class="col-lg-9 col-md-8 col-sm-8"></div>
    <div class="col-lg-3 col-md-4 col-sm-4" style="text-align: right;">
        <a id="button_make_order" class="btn btn-success btn-lg" style="width:150px; font-size:17px"> Сделать заказ </a>
    </div>
</div>